# For this project, we're going to look at the parameters that make a book well rated

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('books_1.Best_Books_Ever.csv') 
df

,bookId,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,edition,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,First Edition,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,US Edition,870,Scholastic Inc.,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Paperback,NaN,324,Harper Perennial Modern Classics,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",Paperback,"Modern Library Classics, USA / CAN",279,Modern Library,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",Paperback,NaN,501,"Little, Brown and Company",09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",[],Nook,NaN,0,Cheri Schmidt,May 28th 2011,NaN,[],871,"['311', '310', '197', '42', '11']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],Paperback,First Edition,190,Bokheim Publishing,August 5th 2011,August 3rd 2011,[],37,"['16', '14', '5', '2', '0']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",[],Paperback,NaN,280,CreateSpace,March 18th 2011,March 15th 2011,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,7.37
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",[],Paperback,1st edition,507,Cascada Productions,September 1st 2011,April 5th 2011,[],238,"['77', '78', '59', '19', '5']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,2.86
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",[],Paperback,NaN,201,Bonneville,May 8th 2011,NaN,[],246,"['106', '73', '42', '17', '8']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,5.20

# We first drop all the duplicates rows.

In [3]:
df.drop_duplicates(keep=False)

,bookId,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,edition,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,First Edition,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,US Edition,870,Scholastic Inc.,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Paperback,NaN,324,Harper Perennial Modern Classics,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",Paperback,"Modern Library Classics, USA / CAN",279,Modern Library,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",Paperback,NaN,501,"Little, Brown and Company",09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",[],Nook,NaN,0,Cheri Schmidt,May 28th 2011,NaN,[],871,"['311', '310', '197', '42', '11']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],Paperback,First Edition,190,Bokheim Publishing,August 5th 2011,August 3rd 2011,[],37,"['16', '14', '5', '2', '0']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",[],Paperback,NaN,280,CreateSpace,March 18th 2011,March 15th 2011,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,7.37
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",[],Paperback,1st edition,507,Cascada Productions,September 1st 2011,April 5th 2011,[],238,"['77', '78', '59', '19', '5']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,2.86
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",[],Paperback,NaN,201,Bonneville,May 8th 2011,NaN,[],246,"['106', '73', '42', '17', '8']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,5.20

# Then we check which columns are relevant and which are not, which we keep as they are and which we can modify

In [4]:
df.isna().sum()

bookId                  0
title                   0
series              29008
author                  0
rating                  0
description          1338
language             3806
isbn                    0
genres                  0
characters              0
bookFormat           1473
edition             47523
pages                2347
publisher            3696
publishDate           880
firstPublishDate    21326
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          622
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14365
dtype: int64

In [5]:
df.nunique()

bookId              52424
title               49927
series              22802
author              28227
rating                261
description         50888
language               81
isbn                48072
genres              44154
characters          12448
bookFormat            136
edition              1788
pages                1365
publisher           11110
publishDate         10635
firstPublishDate     8024
awards               9215
numRatings          19347
ratingsByStars      49908
likedPercent           66
setting              4651
coverImg            51819
bbeScore             3541
bbeVotes              649
price                3776
dtype: int64

In [6]:
df.dtypes

bookId               object
title                object
series               object
author               object
rating              float64
description          object
language             object
isbn                 object
genres               object
characters           object
bookFormat           object
edition              object
pages                object
publisher            object
publishDate          object
firstPublishDate     object
awards               object
numRatings            int64
ratingsByStars       object
likedPercent        float64
setting              object
coverImg             object
bbeScore              int64
bbeVotes              int64
price                object
dtype: object

#### Not relevant :
- 'description' column since it's quite only unique string values
- 'isbn' is a unique value for each book, it's not relevant 
- 'characters' are different for each book, we drop it
- 'edition' to many unique values
- 'setting' to many unique values and NaN
- 'coverImg', just the url of book cover

#### Keep as it is :
- 'bookID' 
- 'title' 
- 'author'
- 'rating' is our target
- 'language' 
- 'genre'
- 'bookFormat'
- 'pages'
- 'publisher'
- 'numRatings'
- 'likedPercent'
- 'bbeScore' 
- 'bbeVotes'

#### Rearange :
- 'series' yes if something oherwise no
- 'pages' into int
- 'publishDate' into datetime format and bins
- 'firstPublishDate' into datetime format and bins
- 'awards' yes/no (1/0)
- 'ratingsByStars' 5 column into int
- 'price' into float

In [7]:
df = df.drop(['description','isbn','characters','edition','setting','coverImg'], axis=1)
df

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,1459448,14874,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",Nook,0,Cheri Schmidt,May 28th 2011,NaN,[],871,"['311', '310', '197', '42', '11']",94.0,0,1,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",Paperback,190,Bokheim Publishing,August 5th 2011,August 3rd 2011,[],37,"['16', '14', '5', '2', '0']",95.0,0,1,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",Paperback,280,CreateSpace,March 18th 2011,March 15th 2011,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,0,1,7.37
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",Paperback,507,Cascada Productions,September 1st 2011,April 5th 2011,[],238,"['77', '78', '59', '19', '5']",90.0,0,1,2.86
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",Paperback,201,Bonneville,May 8th 2011,NaN,[],246,"['106', '73', '42', '17', '8']",90.0,0,1,5.20

# We now replace the NaN values for the relevant columns and do the other necessary changes

### 1. Series

In [8]:
df['series'].value_counts()

Star Wars Legends                 15
Sherlock Holmes                   13
Dear America                      12
The Society On Da Run             11
Duluoz Legend                     10
                                  ..
Cotton Malone #1                   1
Dirk Pitt #19                      1
Incarnations of Immortality #3     1
Bad Kitty #1                       1
Stripling Warrior #1               1
Name: series, Length: 22802, dtype: int64

Some values have the number of appearance in the serie but others do not. If they had all had the number, we could have kept only the number, but as this is not the case, we'll replace with 'yes' for books belonging to a series and 'no' for NaN values.

In [9]:
df['series']= df['series'].fillna('No')

df['series'] = np.where(df['series'] == 'No', 'No', 'Yes')

df['series'].value_counts(dropna=False)

No     29008
Yes    23470
Name: series, dtype: int64

### 2. Language

In [10]:
df['language'].value_counts(dropna=False)

English                                  42661
NaN                                       3806
Arabic                                    1038
Spanish                                    687
French                                     579
                                         ...
Aromanian; Arumanian; Macedo-Romanian        1
Basque                                       1
Faroese                                      1
Iranian (Other)                              1
Norwegian Nynorsk; Nynorsk, Norwegian        1
Name: language, Length: 82, dtype: int64

In [11]:
df[df['language'].isna()]

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price
503,34521870-mistress-suffragette,Mistress Suffragette,No,Diana Forbes (Goodreads Author),4.34,NaN,"['Fiction', 'Novels', 'Historical Fiction', 'D...",Kindle Edition,333,Penmore Press LLC,03/05/17,NaN,[],7647,"['3553', '3422', '466', '140', '66']",97.0,18215,203,NaN
570,36236125-invisible-monsters,Invisible Monsters,No,Chuck Palahniuk (Goodreads Author),3.98,NaN,"['Fiction', 'Contemporary', 'Thriller', 'Myste...",Paperback,304,W. W. Norton Company,05/01/18,09/17/99,[],128254,"['47150', '45163', '25392', '7675', '2874']",92.0,15186,181,6.53
645,38311414-house-of-sand-and-fog,House of Sand and Fog,No,Andre Dubus III,3.85,NaN,"['Fiction', 'Contemporary', 'Literary Fiction'...",Paperback,368,W. W. Norton Company,10/02/18,10/28/99,['Los Angeles Times Book Prize Nominee for Fic...,125230,"['38141', '46256', '28560', '8447', '3826']",90.0,12262,176,2.86
703,41423092-the-awakening,The Awakening: Fate in Motion,No,Suzanne Boisvert (Goodreads Author),4.31,NaN,"['Contemporary', 'Drama', 'Book Club', 'Fictio...",Kindle Edition,331,NaN,09/15/18,NaN,[],6682,"['3045', '3031', '329', '206', '71']",96.0,10611,118,NaN
751,7770.One_Fish_Two_Fish_Red_Fish_Blue_Fish,"One Fish, Two Fish, Red Fish, Blue Fish",No,Dr. Seuss (Reader),4.13,NaN,"['Childrens', 'Picture Books', 'Fiction', 'Cla...",Hardcover,64,Harper Collins Children's Books,10/06/03,10/28/60,[],165623,"['81438', '41473', '30307', '8407', '3998']",93.0,9731,163,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52411,21691391-pixie-dust,Pixie Dust,Yes,Laura Lee (Goodreads Author),3.79,NaN,"['Fantasy', 'Paranormal', 'Paranormal Romance'...",ebook,NaN,Laura Lee,December 31st 2011,NaN,[],1373,"['460', '424', '299', '115', '75']",86.0,2,1,NaN
52416,23014216-when-i-fall,When I Fall,Yes,J. Daniels (Goodreads Author),4.30,NaN,"['Romance', 'New Adult', 'Contemporary Romance...",NaN,343,NaN,March 17th 2015,NaN,[],12022,"['5939', '4225', '1488', '256', '114']",97.0,2,1,NaN
52429,20665259-did-god-really-command-genocide,Did God Really Command Genocide?: Coming to Te...,No,"Paul Copan, Matt Flannagan",4.18,NaN,"['Theology', 'Christian', 'Religion', 'Christi...",Paperback,352,Baker Books,November 18th 2014,October 21st 2014,[],114,"['47', '47', '13', '7', '0']",94.0,2,1,17.37
52454,13254398-au-petit-poil,Au Petit Poil,Yes,A.A. Fair,3.89,NaN,"['Mystery', 'Fiction', 'Detective']",NaN,154,Librairie des Champs-Elysées,1997,1965,[],96,"['24', '42', '25', '5', '0']",95.0,1,1,4.00
52464,36374396-algedonic,Algedonic,No,R.H. Sin (Goodreads Author),3.71,NaN,"['Poetry', 'Nonfiction', 'Romance', 'Feminism']",Paperback,128,Andrews McMeel Publishing,December 12th 2017,NaN,[],1489,"['501', '402', '339', '144', '103']",83.0,1,1,8.94

Since most of the books of the dataset are in English and most of the books in the world are translated in English, we replace the NaN values by the mode.

In [12]:
df['language'].fillna(df['language'].mode()[0], inplace=True)

df['language'].value_counts(dropna=False)

English                                  46467
Arabic                                    1038
Spanish                                    687
French                                     579
German                                     528
                                         ...
Aromanian; Arumanian; Macedo-Romanian        1
Basque                                       1
Faroese                                      1
Iranian (Other)                              1
Norwegian Nynorsk; Nynorsk, Norwegian        1
Name: language, Length: 81, dtype: int64

### 3. Book Format

In [13]:
df['bookFormat'].value_counts(dropna=False)

Paperback                26773
Hardcover                12268
Kindle Edition            5834
Mass Market Paperback     2567
ebook                     2547
                         ...
capa mole                    1
Box-Set                      1
Paperback, eBook             1
paper book                   1
pamphlet                     1
Name: bookFormat, Length: 137, dtype: int64

It seems that most of the books are paperback format but it's less than 50% of the dataset so we don't use the mode but replace the NaN values by 'other'.

In [14]:
df['bookFormat']= df['bookFormat'].fillna('Other')

df['bookFormat'].isna().sum()

0

### 4. Pages

The type of 'pages' column is 'object' because some rows contain values like '1page' so we first need to change it as interger and then we replace the NaN values by the mean.

In [15]:
df['pages'].isna().sum()

2347

In [16]:
# we first need to keep only the numeric part 
df['pages'] = df['pages'].str.extract('(\d+)')

# then we drop de NaN
pages_drop = df['pages'].dropna()

# we convert to interger
pages_int = pages_drop.astype(int)

# we check the mean
pages_int.mean()

328.51453192635296

In [17]:
# we replace de NaN with the mean
df['pages'] = df['pages'].fillna(328)

# we check the NaN values
df['pages'].isna().sum()

0

In [18]:
# we convert the whole column into integer
df['pages'] = df['pages'].astype(int)
# we check if page is interger
df.dtypes

bookId               object
title                object
series               object
author               object
rating              float64
language             object
genres               object
bookFormat           object
pages                 int64
publisher            object
publishDate          object
firstPublishDate     object
awards               object
numRatings            int64
ratingsByStars       object
likedPercent        float64
bbeScore              int64
bbeVotes              int64
price                object
dtype: object

### 5. Publisher

We replace the NaN value by 'Other'

In [19]:
df['publisher'].value_counts(dropna=False)

NaN                   3696
Vintage                572
HarperCollins          563
Penguin Books          430
Ballantine Books       399
                      ...
Bang Ediciones           1
Book Sales               1
Dakota Press             1
Tannbourne Limited       1
Bonneville               1
Name: publisher, Length: 11111, dtype: int64

In [20]:
df['publisher'] = df['publisher'].fillna('Other')
df['publisher'].value_counts(dropna=False)

Other                 3696
Vintage                572
HarperCollins          563
Penguin Books          430
Ballantine Books       399
                      ...
Bang Ediciones           1
Book Sales               1
Dakota Press             1
Tannbourne Limited       1
Bonneville               1
Name: publisher, Length: 11111, dtype: int64

### 6. Publish date

For this date column we first need to convert it into datetime format, then we replace the NaN values with the mean.

In [21]:
df['publishDate'] = pd.to_datetime(df['publishDate'], errors='coerce')
df['publishDate']

0       2008-09-14
1       2004-09-28
2       2006-05-23
3       2000-10-10
4       2006-09-06
           ...
52473   2011-05-28
52474   2011-08-05
52475   2011-03-18
52476   2011-09-01
52477   2011-05-08
Name: publishDate, Length: 52478, dtype: datetime64[ns]

In [22]:
df['publishDate'].mean()

Timestamp('2006-08-20 10:18:46.451383808')

In [23]:
df['publishDate'] = df['publishDate'].fillna(df['publishDate'].mean())

In [24]:
df['publishDate'].isna().sum()

0

### 7. First Publish Date

Since less than the half of the dataset has a first publish date, we will replace the column name by 'severalPublications' and the NaN values by 'No' and the other values by 'Yes'

In [25]:
df['severalPublications'] = df['firstPublishDate']

df['severalPublications'] = df['severalPublications'].fillna('No')

df['severalPublications'] = np.where(df['severalPublications'] == 'No', 'No', 'Yes')

df['severalPublications'].value_counts(dropna=False)

Yes    31152
No     21326
Name: severalPublications, dtype: int64

In [26]:
df = df.drop(columns=['firstPublishDate'])
df

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price,severalPublications
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,2993816,30516,5.09,No
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,2632233,26923,7.38,Yes
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,2269402,23328,NaN,Yes
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,1983116,20452,NaN,Yes
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,1459448,14874,2.1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Yes,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",Nook,0,Cheri Schmidt,2011-05-28,[],871,"['311', '310', '197', '42', '11']",94.0,0,1,NaN,No
52474,11836711-anasazi,Anasazi,Yes,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",Paperback,190,Bokheim Publishing,2011-08-05,[],37,"['16', '14', '5', '2', '0']",95.0,0,1,NaN,Yes
52475,10815662-marked,Marked,Yes,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",Paperback,280,CreateSpace,2011-03-18,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,0,1,7.37,Yes
52476,11330278-wayward-son,Wayward Son,No,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",Paperback,507,Cascada Productions,2011-09-01,[],238,"['77', '78', '59', '19', '5']",90.0,0,1,2.86,Yes
52477,10991547-daughter-of-helaman,Daughter of Helaman,Yes,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",Paperback,201,Bonneville,2011-05-08,[],246,"['106', '73', '42', '17', '8']",90.0,0,1,5.20,No

### 8. Awards

The 'awards' columon does not have any NaN values but instead '[]' is written. We replace these values by 0 (=No) and the other by 1 (=Yes).

In [27]:
df['awards'] = np.where(df['awards'] == '[]', 0, 1)

df['awards'].value_counts(dropna=False)

0    41864
1    10614
Name: awards, dtype: int64

### 9. LikedPercent

We keep this column for later as we may probably fill the NaN values with a computation based on other columns including ratings by stars which we haven't cleaned yet.

### 10. Price

We first need the convert the price into float and then replace the NaN values by the mean.

In [28]:
# df['price'] = df['price'].astype(float)

I got this message error : ValueError: could not convert string to float: '1.189.88'

It seems that that this price book is not in dollar but we can not guess which currency it is so we check how many row have this unusal price format and drop it if there are not too many.

In [29]:
# we frist drop the NaN 
rows = df['price'].dropna()

# then we look for the unsual price pattern
pattern = '^\d+\.\d+\.\d+$'

# we check the number of rows with this price pattern
rowspattern = rows.str.match(pattern)
rowspattern.value_counts()

False    38101
True        12
Name: price, dtype: int64

In [30]:
# We create a new boolean column 
df['boolprice'] = rowspattern

# We check of the unsual prices fomart are there
rowstrue = df[(df['boolprice']==True)]
rowstrue

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price,severalPublications,boolprice
5067,3018318,جدارية,No,Mahmoud Darwish,4.31,Arabic,"['Poetry', 'Literature', 'Philosophy', 'Anthol...",Paperback,105,رياض الريس للكتب والنشر,2001-01-01,1,5502,"['3033', '1505', '689', '199', '76']",95.0,582,6,1.189.88,Yes,True
14042,1523598.The_Cloister_and_the_Hearth_Volume_Thr...,"The Cloister and the Hearth, Volume Three of F...",No,Charles Reade,3.90,English,"['Classics', '19th Century', 'Historical Ficti...",Paperback,244,Wildside Press,2003-03-01,0,67,"['23', '23', '14', '5', '2']",90.0,178,2,1.743.28,Yes,True
18388,6895403-ferrari-in-camera,Ferrari In Camera: From Ascari To Villeneuve,No,"Geoffrey Goddard, Geoff Goddard",5.00,English,[],Other,359,Palawan Press,1995-01-01,0,1,[],100.0,100,1,2.179.10,No,True
20913,815760.Cows,Cows,No,Matthew Stokoe (Goodreads Author),3.47,English,"['Horror', 'Fiction', 'Bizarro Fiction', 'Dark...",Paperback,188,Creation Books,1999-10-01,0,2862,"['711', '841', '659', '374', '277']",77.0,100,1,1.743.28,Yes,True
23764,2670656-eros,Eros: A Journey of Multiple Loves,No,Serena Anderlini-D'Onofrio,3.75,English,"['LGBT', 'Nonfiction', 'Polyamory', 'Queer', '...",Paperback,223,Routledge,2006-10-01,0,4,[],100.0,98,1,1.307.46,No,True
28279,162374.Way_Of_The_Samurai,Way Of The Samurai,No,"Yukio Mishima, Kathryn Sparling (Translator), ...",3.89,English,"['Japan', 'Philosophy', 'Nonfiction', 'Japanes...",Hardcover,166,Basic Books,1977-08-04,0,592,"['179', '217', '155', '36', '5']",93.0,96,1,1.307.46,Yes,True
28671,388304.The_Oxford_India_Ghalib,"The Oxford India Ghalib: Life, Letters and Gha...",No,Mirza Asadullah Khan Ghalib,4.42,English,"['Poetry', 'Literature', 'Biography', 'Nonfict...",Hardcover,580,"Oxford University Press, USA",2003-10-30,0,57,"['35', '12', '9', '1', '0']",98.0,96,1,8.715.51,Yes,True
29421,10118917-the-commander-and-the-den-asaan-rautu,The Commander And The Den Asaan Rautu,Yes,Michelle Franklin (Goodreads Author),4.04,English,"['Fantasy', 'Romance']",Paperback,185,Michelle Franklin,2011-06-14,0,46,"['23', '9', '10', '1', '3']",91.0,95,1,1.775.18,Yes,True
29684,117486.Capitale_de_la_douleur_suivi_de_L_amour...,Capitale de la douleur suivi de L'amour la poésie,No,Paul Éluard,4.19,English,"['Poetry', 'France', 'French Literature', 'Cla...",Paperback,256,French & European Pubns,1970-06-27,0,1219,"['564', '401', '193', '45', '16']",95.0,95,1,2.751.41,Yes,True
34805,194649.The_Law_and_the_Lady,The Law and the Lady,No,Wilkie Collins,3.80,English,"['Classics', 'Mystery', 'Fiction', 'Victorian'...",Paperback,348,Wildside Press,2003-09-01,0,2454,"['637', '928', '687', '159', '43']",92.0,90,1,1.734.84,Yes,True
48594,106212.National_Lampoon,National Lampoon: 1964 High School Yearbook: 3...,No,P.J. O'Rourke,4.39,English,"['Humor', 'Comedy', 'Fiction']",Paperback,208,Rugged Land,2005-05-01,0,200,"['111', '61', '23', '4', '1']",98.0,48,1,1.734.84,Yes,True
52240,3032006-la-est-tica-musical-desde-la-antig-eda...,La estética musical desde la Antigüedad hasta ...,No,Enrico Fubini,4.86,Spanish,[],Paperback,600,Alianza,2005-09-12,0,7,"['6', '1', '0', '0', '0']",100.0,6,1,2.812.18,No,True

In [31]:
# we drop the unsual pattern rows
df = df[df['boolprice'] != True]

In [32]:
# we drop the column 'boolprice'
df = df.drop(columns=['boolprice'])

# we convert the 'price' column into float
df['price'] = df['price'].astype(float)

We now replace the NaN values by the mean.

In [33]:
df['price'] = df['price'].fillna(df['price'].mean())

In [34]:
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
ratingsByStars           0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
dtype: int64

In [ ]:
# Now that we have cleaned all the NaN values, we save the new dataframe in a csv file to reuse it for further analysis

In [35]:
# df.to_csv('df_cleaned_NaN.csv', index=False)

In [36]:
# df.dtypes

bookId                         object
title                          object
series                         object
author                         object
rating                        float64
language                       object
genres                         object
bookFormat                     object
pages                           int64
publisher                      object
publishDate            datetime64[ns]
awards                          int64
numRatings                      int64
ratingsByStars                 object
likedPercent                  float64
bbeScore                        int64
bbeVotes                        int64
price                         float64
severalPublications            object
dtype: object

# Now let's take a closer look at the column 'likedPercent'

This column correspond to the the sum of 3 stars or more divided by the sum of the total total stars time 100. We are gonna fill the NaN values with this number, but first we need to seperate the column ratingsByStars in 5, one for each number of stars ratings.

## 1. Ratings by stars

In [37]:
# we first remove the apostrophes and square brackets
df['ratingsByStars'] = [e.replace("'", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("[", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("]", "") for e in df['ratingsByStars']]
df.head()

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price,severalPublications
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14,1,6376780,"3444695, 1921313, 745221, 171994, 93557",96.0,2993816,30516,5.090000,No
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28,1,2507623,"1593642, 637516, 222366, 39573, 14526",98.0,2632233,26923,7.380000,Yes
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23,1,4501075,"2363896, 1333153, 573280, 149952, 80794",95.0,2269402,23328,9.657241,Yes
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10,0,2998241,"1617567, 816659, 373311, 113934, 76770",94.0,1983116,20452,9.657241,Yes
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06,1,4964519,"1751460, 1113682, 1008686, 542017, 548674",78.0,1459448,14874,2.100000,Yes

In [38]:
# then we split the values on the coma
df[['5*', '4*', '3*', '2*', '1*']] = df['ratingsByStars'].str.split(',', expand=True)
df = df.drop(columns=['ratingsByStars'])
df

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,likedPercent,bbeScore,bbeVotes,price,severalPublications,5*,4*,3*,2*,1*
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14,1,6376780,96.0,2993816,30516,5.090000,No,3444695,1921313,745221,171994,93557
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28,1,2507623,98.0,2632233,26923,7.380000,Yes,1593642,637516,222366,39573,14526
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23,1,4501075,95.0,2269402,23328,9.657241,Yes,2363896,1333153,573280,149952,80794
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10,0,2998241,94.0,1983116,20452,9.657241,Yes,1617567,816659,373311,113934,76770
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06,1,4964519,78.0,1459448,14874,2.100000,Yes,1751460,1113682,1008686,542017,548674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Yes,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",Nook,0,Cheri Schmidt,2011-05-28,0,871,94.0,0,1,9.657241,No,311,310,197,42,11
52474,11836711-anasazi,Anasazi,Yes,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",Paperback,190,Bokheim Publishing,2011-08-05,0,37,95.0,0,1,9.657241,Yes,16,14,5,2,0
52475,10815662-marked,Marked,Yes,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",Paperback,280,CreateSpace,2011-03-18,1,6674,84.0,0,1,7.370000,Yes,2109,1868,1660,647,390
52476,11330278-wayward-son,Wayward Son,No,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",Paperback,507,Cascada Productions,2011-09-01,0,238,90.0,0,1,2.860000,Yes,77,78,59,19,5
52477,10991547-daughter-of-helaman,Daughter of Helaman,Yes,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",Paperback,201,Bonneville,2011-05-08,0,246,90.0,0,1,5.200000,No,106,73,42,17,8

In [39]:
df.isna().sum()

bookId                    0
title                     0
series                    0
author                    0
rating                    0
language                  0
genres                    0
bookFormat                0
pages                     0
publisher                 0
publishDate               0
awards                    0
numRatings                0
likedPercent            622
bbeScore                  0
bbeVotes                  0
price                     0
severalPublications       0
5*                        0
4*                     1421
3*                     1421
2*                     1421
1*                     1421
dtype: int64

We suppose that NaN values for star ratings are because people only gave a 5 stars rating so we replace them by 0.

In [41]:
df[['5*', '4*', '3*', '2*', '1*']] = df[['5*', '4*', '3*', '2*', '1*']].fillna(0)
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
5*                       0
4*                       0
3*                       0
2*                       0
1*                       0
dtype: int64

## 2. Liked Percent

In [ ]:
# df['likedPercent'] = (df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100

We are gonna fill the NaN values with this computation.

In [ ]:
# df['likedPercent'] = df['likedPercent'].fillna((df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100)

We got this error message : TypeError: can only concatenate str (not "int") to str

In [42]:
df.dtypes

bookId                         object
title                          object
series                         object
author                         object
rating                        float64
language                       object
genres                         object
bookFormat                     object
pages                           int64
publisher                      object
publishDate            datetime64[ns]
awards                          int64
numRatings                      int64
likedPercent                  float64
bbeScore                        int64
bbeVotes                        int64
price                         float64
severalPublications            object
5*                             object
4*                             object
3*                             object
2*                             object
1*                             object
dtype: object

We need to convert the stars columns which are object type into numeric type.

In [ ]:
# df[['5*','4*','3*','2*','1*']] = df[['5*','4*','3*','2*','1*']].astype(float)

Error message : 'ValueError: could not convert string to float'.\
We suppose that an empty value is where there's no rating, so equal we replace it by zero.

In [43]:
df['5*'] = df['5*'].replace('', 0)

In [44]:
df[['5*','4*','3*','2*','1*']] = df[['5*','4*','3*','2*','1*']].astype(float)

In [45]:
df.dtypes

bookId                         object
title                          object
series                         object
author                         object
rating                        float64
language                       object
genres                         object
bookFormat                     object
pages                           int64
publisher                      object
publishDate            datetime64[ns]
awards                          int64
numRatings                      int64
likedPercent                  float64
bbeScore                        int64
bbeVotes                        int64
price                         float64
severalPublications            object
5*                            float64
4*                            float64
3*                            float64
2*                            float64
1*                            float64
dtype: object

In [49]:
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
5*                       0
4*                       0
3*                       0
2*                       0
1*                       0
dtype: int64

Now that all the stars columns are cleaned, we fill the column 'likedPercent' with the appropriate computation.

In [47]:
likedPercent = (df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100

In [50]:
df['likedPercent'] = df['likedPercent'].fillna(likedPercent)

In [51]:
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
5*                       0
4*                       0
3*                       0
2*                       0
1*                       0
dtype: int64

We still have NaN values, probably because the in some columns, the number we try to devided is equal to zero.

In [52]:
(df['5*']+df['4*']+df['3*']+df['2*']+df['1*']).value_counts()

0.0        1421
5.0         243
6.0         228
7.0         188
12.0        187
           ...
86810.0       1
35514.0       1
73776.0       1
8067.0        1
14868.0       1
Length: 19342, dtype: int64

We now replace the NaN values left by zero.

In [53]:
df['likedPercent'] = df['likedPercent'].fillna(0)
df.isna().sum()

bookId                 0
title                  0
series                 0
author                 0
rating                 0
language               0
genres                 0
bookFormat             0
pages                  0
publisher              0
publishDate            0
awards                 0
numRatings             0
likedPercent           0
bbeScore               0
bbeVotes               0
price                  0
severalPublications    0
5*                     0
4*                     0
3*                     0
2*                     0
1*                     0
dtype: int64

In [54]:
df.dtypes

bookId                         object
title                          object
series                         object
author                         object
rating                        float64
language                       object
genres                         object
bookFormat                     object
pages                           int64
publisher                      object
publishDate            datetime64[ns]
awards                          int64
numRatings                      int64
likedPercent                  float64
bbeScore                        int64
bbeVotes                        int64
price                         float64
severalPublications            object
5*                            float64
4*                            float64
3*                            float64
2*                            float64
1*                            float64
dtype: object

Now the dataset is totaly cleaned with 0 NaN value and appropriate type, we can save it in a new csv file.

In [55]:
df.to_csv('df_cleaned.csv', index=False)