In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

### We have already cleaned all the NaN values execpt the 'likedPercent' column

In [2]:
df = pd.read_csv('df_cleaned_NaN.csv') 
df

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price,severalPublications
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14 00:00:00.000000000,1,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,2993816,30516,5.090000,No
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28 00:00:00.000000000,1,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,2632233,26923,7.380000,Yes
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23 00:00:00.000000000,1,4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,2269402,23328,9.657241,Yes
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10 00:00:00.000000000,0,2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,1983116,20452,9.657241,Yes
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06 00:00:00.000000000,1,4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,1459448,14874,2.100000,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52461,11492014-fractured,Fractured,Yes,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",Nook,0,Cheri Schmidt,2011-05-28 00:00:00.000000000,0,871,"['311', '310', '197', '42', '11']",94.0,0,1,9.657241,No
52462,11836711-anasazi,Anasazi,Yes,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",Paperback,190,Bokheim Publishing,2011-08-05 00:00:00.000000000,0,37,"['16', '14', '5', '2', '0']",95.0,0,1,9.657241,Yes
52463,10815662-marked,Marked,Yes,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",Paperback,280,CreateSpace,2011-03-18 00:00:00.000000000,1,6674,"['2109', '1868', '1660', '647', '390']",84.0,0,1,7.370000,Yes
52464,11330278-wayward-son,Wayward Son,No,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",Paperback,507,Cascada Productions,2011-09-01 00:00:00.000000000,0,238,"['77', '78', '59', '19', '5']",90.0,0,1,2.860000,Yes
52465,10991547-daughter-of-helaman,Daughter of Helaman,Yes,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",Paperback,201,Bonneville,2011-05-08 00:00:00.000000000,0,246,"['106', '73', '42', '17', '8']",90.0,0,1,5.200000,No

This column correspond to the the sum of 3 stars or more divided by the sum of the total total stars time 100. We are gonna fill the NaN values with this number, but first we need to seperate the column ratingsByStars in 5, one for each number of stars ratings.

## Ratings by stars

In [3]:
# we first remove the apostrophes and square brackets
df['ratingsByStars'] = [e.replace("'", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("[", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("]", "") for e in df['ratingsByStars']]
df.head()

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,likedPercent,bbeScore,bbeVotes,price,severalPublications
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14 00:00:00.000000000,1,6376780,"3444695, 1921313, 745221, 171994, 93557",96.0,2993816,30516,5.090000,No
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28 00:00:00.000000000,1,2507623,"1593642, 637516, 222366, 39573, 14526",98.0,2632233,26923,7.380000,Yes
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23 00:00:00.000000000,1,4501075,"2363896, 1333153, 573280, 149952, 80794",95.0,2269402,23328,9.657241,Yes
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10 00:00:00.000000000,0,2998241,"1617567, 816659, 373311, 113934, 76770",94.0,1983116,20452,9.657241,Yes
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06 00:00:00.000000000,1,4964519,"1751460, 1113682, 1008686, 542017, 548674",78.0,1459448,14874,2.100000,Yes

In [4]:
# then we split the values on the coma
df[['5*', '4*', '3*', '2*', '1*']] = df['ratingsByStars'].str.split(',', expand=True)

df = df.drop(columns=['ratingsByStars'])

df

,bookId,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,likedPercent,bbeScore,bbeVotes,price,severalPublications,5*,4*,3*,2*,1*
0,2767052-the-hunger-games,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14 00:00:00.000000000,1,6376780,96.0,2993816,30516,5.090000,No,3444695,1921313,745221,171994,93557
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28 00:00:00.000000000,1,2507623,98.0,2632233,26923,7.380000,Yes,1593642,637516,222366,39573,14526
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Yes,Harper Lee,4.28,English,"['Classics', 'Fiction', 'Historical Fiction', ...",Paperback,324,Harper Perennial Modern Classics,2006-05-23 00:00:00.000000000,1,4501075,95.0,2269402,23328,9.657241,Yes,2363896,1333153,573280,149952,80794
3,1885.Pride_and_Prejudice,Pride and Prejudice,No,"Jane Austen, Anna Quindlen (Introduction)",4.26,English,"['Classics', 'Fiction', 'Romance', 'Historical...",Paperback,279,Modern Library,2000-10-10 00:00:00.000000000,0,2998241,94.0,1983116,20452,9.657241,Yes,1617567,816659,373311,113934,76770
4,41865.Twilight,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06 00:00:00.000000000,1,4964519,78.0,1459448,14874,2.100000,Yes,1751460,1113682,1008686,542017,548674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52461,11492014-fractured,Fractured,Yes,Cheri Schmidt (Goodreads Author),4.00,English,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",Nook,0,Cheri Schmidt,2011-05-28 00:00:00.000000000,0,871,94.0,0,1,9.657241,No,311,310,197,42,11
52462,11836711-anasazi,Anasazi,Yes,Emma Michaels,4.19,English,"['Mystery', 'Young Adult']",Paperback,190,Bokheim Publishing,2011-08-05 00:00:00.000000000,0,37,95.0,0,1,9.657241,Yes,16,14,5,2,0
52463,10815662-marked,Marked,Yes,Kim Richardson (Goodreads Author),3.70,English,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",Paperback,280,CreateSpace,2011-03-18 00:00:00.000000000,1,6674,84.0,0,1,7.370000,Yes,2109,1868,1660,647,390
52464,11330278-wayward-son,Wayward Son,No,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,English,"['Fiction', 'Mystery', 'Historical Fiction', '...",Paperback,507,Cascada Productions,2011-09-01 00:00:00.000000000,0,238,90.0,0,1,2.860000,Yes,77,78,59,19,5
52465,10991547-daughter-of-helaman,Daughter of Helaman,Yes,Misty Moncur (Goodreads Author),4.02,English,"['Lds Fiction', 'Historical Fiction', 'Young A...",Paperback,201,Bonneville,2011-05-08 00:00:00.000000000,0,246,90.0,0,1,5.200000,No,106,73,42,17,8

In [5]:
df.isna().sum()

bookId                    0
title                     0
series                    0
author                    0
rating                    0
language                  0
genres                    0
bookFormat                0
pages                     0
publisher                 0
publishDate               0
awards                    0
numRatings                0
likedPercent            622
bbeScore                  0
bbeVotes                  0
price                     0
severalPublications       0
5*                        0
4*                     1421
3*                     1421
2*                     1421
1*                     1421
dtype: int64

We suppose that NaN values for star ratings are because people only gave a 5 stars rating so we replace them by 0.

In [6]:
df[['5*', '4*', '3*', '2*', '1*']] = df[['5*', '4*', '3*', '2*', '1*']].fillna(0)
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
5*                       0
4*                       0
3*                       0
2*                       0
1*                       0
dtype: int64

## Liked Percent

We are gonna fill the NaN values with this number.

In [7]:
# df['likedPercent'] = (df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100

In [8]:
# df['likedPercent'] = df['likedPercent'].fillna((df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100)

We got this error message : TypeError: can only concatenate str (not "int") to str

In [9]:
df.dtypes

bookId                  object
title                   object
series                  object
author                  object
rating                 float64
language                object
genres                  object
bookFormat              object
pages                    int64
publisher               object
publishDate             object
awards                   int64
numRatings               int64
likedPercent           float64
bbeScore                 int64
bbeVotes                 int64
price                  float64
severalPublications     object
5*                      object
4*                      object
3*                      object
2*                      object
1*                      object
dtype: object

We need to convert the stars columns which are object type into numeric type.

In [10]:
# df[['5*','4*','3*','2*','1*']] = df[['5*','4*','3*','2*','1*']].astype(float)

Error message : ValueError: could not convert string to float: ''
We suppose that an empty value is equal to zero

In [11]:
df['5*'] = df['5*'].replace('', 0)

In [12]:
df[['5*','4*','3*','2*','1*']] = df[['5*','4*','3*','2*','1*']].astype(float)

In [13]:
df.dtypes

bookId                  object
title                   object
series                  object
author                  object
rating                 float64
language                object
genres                  object
bookFormat              object
pages                    int64
publisher               object
publishDate             object
awards                   int64
numRatings               int64
likedPercent           float64
bbeScore                 int64
bbeVotes                 int64
price                  float64
severalPublications     object
5*                     float64
4*                     float64
3*                     float64
2*                     float64
1*                     float64
dtype: object

https://datascience.stackexchange.com/questions/17769/how-to-fill-missing-value-based-on-other-columns-in-pandas-dataframe

In [14]:
likedPercent = (df['5*']+df['4*']+df['3*'])/(df['5*']+df['4*']+df['3*']+df['2*']+df['1*'])*100

In [15]:
df['likedPercent'] = df['likedPercent'].fillna(likedPercent)

In [16]:
df.isna().sum()

bookId                   0
title                    0
series                   0
author                   0
rating                   0
language                 0
genres                   0
bookFormat               0
pages                    0
publisher                0
publishDate              0
awards                   0
numRatings               0
likedPercent           622
bbeScore                 0
bbeVotes                 0
price                    0
severalPublications      0
5*                       0
4*                       0
3*                       0
2*                       0
1*                       0
dtype: int64

In [17]:
df.dtypes

bookId                  object
title                   object
series                  object
author                  object
rating                 float64
language                object
genres                  object
bookFormat              object
pages                    int64
publisher               object
publishDate             object
awards                   int64
numRatings               int64
likedPercent           float64
bbeScore                 int64
bbeVotes                 int64
price                  float64
severalPublications     object
5*                     float64
4*                     float64
3*                     float64
2*                     float64
1*                     float64
dtype: object

In [18]:
df['likedPercent'] = df['likedPercent'].astype(float)

## We save the new dataframe into a csv file

In [19]:
df.to_csv('df_cleaned.csv', index=False)